@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  font-size: 15px;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
.h1 {
  font-size: 1.35rem;
}

h2,
.h2 {
  font-size: 1.1rem;
}

h1,
.h1,
h2,
.h2,
.big-text {
  font-weight: 800;
  color: #293356;
}

p,
.lead,
li,
.lg-text {
  color: #858fad;
}

.lead {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.8;
}

.big-text {
  font-size: 2.25rem;
}

.lg-text {
  font-size: 0.95rem;
}

p {
  font-size: 0.825rem;
}

.small-text {
  font-size: 0.8rem;
}

body {
  display: grid;
  place-content: center;
  background-color: #fafbff;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: left -25px;
}

.card {
  max-width: 400px;
  min-width: 325px;
  border-radius: 8px;
  background-color: white;
}
.card__body {
  padding: 25px;
}
.card__divider {
  height: 1px;
  background-color: #eaeefb;
}
.card__footer {
  padding: 25px;
}

.card__footer,
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__pageviews {
  margin: 10px 0 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pricing__pageviews p {
  font-weight: 800;
}
.pricing__price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 45px 0 40px;
}

.slider {
  position: relative;
  width: 100%;
}
.slider__container {
  width: 100%;
  height: 8px;
  min-width: 100%;
  border-radius: 10px;
  background-color: #eaeefb;
  overflow: hidden;
}
.slider__sliderbar {
  position: relative;
  width: 50%;
  height: 15px;
  background-color: #a5f3eb;
}
.slider__button {
  position: absolute;
  top: calc(50% - 20px);
  left: 40%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 20px 25px rgba(16, 213, 194, 0.5);
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.period__toggle {
  position: relative;
  width: 43px;
  height: 22px;
  border-radius: 20px;
  background-color: #cdd7ee;
}
.period__toggle-button {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}
.period__discount {
  position: relative;
}
.period__discount::after {
  position: absolute;
  content: "-25%";
  top: -8px;
  left: -6px;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: 800;
  color: #ff8c66;
  background-color: #feece7;
}

.container {
  margin: 25px;
}

.header {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 50px 0 35px;
  text-align: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 150px;
}
.header__title {
  margin-bottom: 10px;
}
.header__text {
  padding-inline: 75px;
}

.services {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services, .services__item {
  margin: 0;
  padding: 0;
}
.services__item {
  position: relative;
}
.services__item::before {
  content: " ";
  position: absolute;
  height: 9px;
  width: 9px;
  top: 5px;
  left: -20px;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.btn {
  border: none;
  padding: 15px 50px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.1;
  background-color: #293356;
  color: #dee6ff;
}

@media (min-width: 500px) {
  .pricing {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pricing__price, .pricing__pageviews {
    flex: 1 1 50%;
  }
  .pricing__slider {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
