body {
  display: grid;
  place-content: center;

  background-color: $Very-Pale-Blue;
  background-image: url('../images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-position: left -25px;
}

@import '../components/card';

@include mq {
  body {
    max-width: 1440px;
    margin: auto;
    background-position: center;
    background-position-y: 0;
  }
}
