.card {
  $container-padding: 25px;
  max-width: 540px;
  min-width: 325px;
  border-radius: 8px;
  background-color: white;

  &__body,
  &__footer {
    padding: $container-padding;
  }

  &__divider {
    height: 1px;
    background-color: $Light-Grayish-Blue-100;
  }

  &__footer {
    .btn {
      margin: 20px 0 10px;
    }
  }
}

.card__footer,
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing {
  &__pageviews {
    margin: 10px 0 15px;

    text-transform: uppercase;
    letter-spacing: 1px;

    p {
      font-weight: 800;
    }
  }

  &__slider {
    width: 100%;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 0 40px;
  }
}

@import '../components/slider';

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;

  &__toggle {
    position: relative;
    width: 43px;
    height: 22px;
    border-radius: 20px;

    background-color: $Light-Grayish-Blue-200;
  }

  &__toggle-button {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
  }

  &__discount {
    position: relative;

    &::after {
      position: absolute;
      content: '-25%';
      top: -8px;
      left: -6px;
      padding: 4px 8px;
      border-radius: 15px;
      font-size: 0.7rem;
      font-weight: 800;
      color: $Light-Red;
      background-color: $Light-Grayish-Red;
    }
  }
}

@import '../components/components';

@include mq {
  .card {
    $container-padding: 50px;

    &__body,
    &__footer {
      padding: $container-padding;
    }

    &__body {
      padding-bottom: 30px;
    }

    &__footer {
      flex-direction: row;
      justify-content: space-between;
      padding-block: 35px;

      .btn {
        margin: 0;
      }
    }
  }

  .pricing {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 40px;

    &__pageviews {
      margin: 0;
      letter-spacing: 1.8px;
    }

    &__price {
      margin: 0;
    }

    &__slider {
      order: 3;
    }
  }

  .period {
    margin-bottom: 10px;
    &__discount {
      &::after {
        content: '25% discount';
        font-family: inherit;
        width: 72px;
      }
    }
  }
}
