.card {
  $container-padding: 25px;
  max-width: 400px;
  min-width: 325px;
  border-radius: 8px;
  background-color: white;

  &__body {
    padding: $container-padding;
  }

  &__divider {
    height: 1px;
    background-color: $Light-Grayish-Blue-100;
  }

  &__footer {
    padding: $container-padding;
  }
}

.card__footer,
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing {
  &__pageviews {
    margin: 10px 0 35px;

    text-transform: uppercase;
    letter-spacing: 1px;

    p {
      font-weight: 800;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 45px 0 40px;
  }
}

@import '../components/slider';

.period {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  &__toggle {
    position: relative;
    width: 43px;
    height: 22px;
    border-radius: 20px;

    background-color: $Light-Grayish-Blue-200;
  }

  &__toggle-button {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
  }

  &__discount {
    position: relative;

    &::after {
      position: absolute;
      content: '-25%';
      top: -8px;
      left: -6px;
      padding: 4px 8px;
      border-radius: 15px;
      font-size: 0.7rem;
      font-weight: 800;
      color: $Light-Red;
      background-color: $Light-Grayish-Red;
    }
  }
}

@import '../components/components';

@include mq {
  .pricing {
    flex-direction: row;
    flex-wrap: wrap;

    &__price,
    &__pageviews {
      flex: 1 1 50%;
    }

    &__slider {
      order: 3;
    }
  }
}
