// List and list item
.services {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &,
  &__item {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      height: 9px;
      width: 9px;
      top: 5px;
      left: -20px;
      background-image: url(../images/icon-check.svg);
      background-size: contain;
    }
  }
}

.btn {
  border: none;
  padding: 15px 50px;
  border-radius: 30px;

  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.1;

  background-color: $Dark-Desaturated-Blue;
  color: mix($Pale-Blue, white, 50%);
}
