.container {
  margin: 25px;
}

// Header background
.header {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 50px 0 35px;

  text-align: center;

  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 150px;

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    padding-inline: 75px;
  }
}

// List and list item
.services {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &,
  &__item {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      height: 9px;
      width: 9px;
      top: 5px;
      left: -20px;
      background-image: url(../images/icon-check.svg);
      background-size: contain;
    }
  }
}

// Button
.btn {
  border: none;
  padding: 15px 50px;
  border-radius: 30px;

  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.1;

  background-color: $Dark-Desaturated-Blue;
  color: mix($Pale-Blue, white, 50%);
}
