@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

html {
  font-size: 15px;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1,
.h1 {
  font-size: 1.35rem;
}

h2,
.h2 {
  font-size: 1.1rem;
}

h1,
.h1,
h2,
.h2,
.big-text {
  font-weight: 800;
  color: $Dark-Desaturated-Blue;
}

p,
.lead,
li {
  font-weight: 600;
  color: $Grayish-Blue;
}

.lead {
  font-size: 0.875rem;
}

.big-text {
  font-size: 2rem;
}

p {
  font-size: 0.825rem;
}

.small-text {
  font-size: 0.8rem;
}
